*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


body{
 height: 100vh;     /* * damit Grid ganzen Bildschirm füllt */

    display: grid;      
    grid-template-columns: 25% 1fr;     /* * Spalten */
    grid-template-rows: 10%  1fr 10%;   /* * Zeilen */

    grid-template-areas:        /* * Matrix */
    "header header"
    "aside main"
    "footer footer"
;
color: white;           /*  * alle SchriftFarbe weiß */

}

header{
    background-color: blue;
    grid-area: header;
}

aside{
    background-color:green;
    grid-area: aside;

}

main{
    background-color: red;
    grid-area: main;

}

footer{
    background-color: purple;
    grid-area: footer;
}