*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


body{
 height: 100vh;
 
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-template-rows: 10%  1fr 10%;

    grid-template-areas:
    "header header"
    "aside main"
    "footer footer"
;
color: white;

}

header{
    background-color: blue;
    grid-area: header;
}

aside{
    background-color:green;
    grid-area: aside;
    height: ;
}

main{
    background-color: red;
    grid-area: main;

}

footer{
    background-color: purple;
    grid-area: footer;
}